@import "mixin";
@import "reset";
header{
    width: 100%;
    background: rgba(255,255,255,0.5);
    border-bottom: 1px solid rgba(255,255,255,0.6);
    position: fixed;
    z-index: 100;
    transition: .35s;
    &.active{
        background: #fff;
        border-bottom: 1px solid #ddd;
    }
    .headerInner{
        width: 100%;
        height: 70px;
        padding: 0 100px;
        padding: 0 5.2083%;
        box-sizing: border-box;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1{
            a{
                @include logo();
                @include background("logo.png");
            }
        }
        nav{
            height: 100%;
            .depth1{
                width: 680px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                z-index: 100;
                >li{
                    &:last-of-type{
                        display: none;
                    }
                    width: 170px;
                    position: relative;
                    text-align: center;
                    transition: .35s;
                    a{
                        padding: 10px 20px;
                    }
                    .depth2{
                        width: 100%;
                        height: 190px;
                        padding-top: 28px;
                        box-sizing: border-box;
                        position: absolute;
                        top: 148%;
                        text-align: center;
                        display:none;
                        a{
                            color: #5b5b5b;
                            padding: 8px 0;
                            transition: .35s;
                            &:hover{
                                color: #00b17e;
                            }
                        }
                    }
                }
            }
        }
        .hire{
            width: 137px;
            height: 34px;
            border-radius: 20px;
            border: 1px solid #00b17e;
            box-sizing: border-box;
            text-align: center;
            transition: .35s;
            &:hover{
                background: $color;
                a{
                    color: #fff;
                    font-weight: 100;
                }
            }
            a{
                line-height: 34px;
            }
        }
        .menuBtn{
            width: 28px;
            height: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            display: none;
            cursor: pointer;
            span{
                width: 100%;
                height: 2px;
                background: #333;
            }
        }
        .gnbBox{
            width: 100%;
            height: 190px;
            background: #fff;
            position: absolute;
            left: 0;
            top: 71px;
            z-index: -2;
            display:none;
            span{
               width: 170px;
               height: 1px;
               background: $color;
               position: absolute;
               top: -1px;
               left: 0;
               transition: .35s;
            }
        }
    }
}
footer{
    width: 100%;
    height: 260px;
    background-color: #535353;
    .inner{
        width: 67.7083%;
        height: 100%;
        margin: 0 auto;
        padding: 50px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        >a{
            @include logo();
            @include background("logo.png");
        }
        .footerInfo{
            justify-self: start;
            .lnb{
                li{
                    display: inline-block;
                    margin:0 30px 28px 0;
                    position: relative;
                    color: #fff;
                    font-size: 14px;
                    font-weight: 100;
                    cursor: pointer;
                    &:after{
                        @include after(1px,#fff);
                        height: 12px;
                        bottom: 1px;
                        right: -15px;
                    }
                    &:last-of-type:after{
                        display: none;
                    }
                }
            }
            .companyInfo{
                margin-bottom: 26px;
            }
            p{
                color: #fff;
                font-size: 14px;
                font-weight: 100;
                line-height:1.500em
            }
        }
        .familySite{
            align-self: flex-start;
            width: 200px;
            height: 32px;
            position: relative;
            background-color: #fff;
            box-shadow: 3px 3px 6px 6px rgba(0,0,0,0.1);
            a{
                width: 100%;
                height: 100%;
                padding-left: 20px;
                line-height: 32px;
                box-sizing: border-box;
                font-size: 14px;
                background: url('../img/familysite_arrow.png') no-repeat 90% center;
                &.active{
                    background: url('../img/familysite_arrow_active.png') no-repeat 90% center;
                }
            }
            ul{
                width: 100%;
                position: absolute;
                left: 0;
                top: 100%;
                background: #fff;
                border: 1px solid #a5a5a5;
                box-sizing: border-box;
                display: none;
                li{
                    width:100%;
                    height:28px;
                    border-bottom: 1px solid #a5a5a5;
                    box-sizing: border-box;
                    &:last-of-type{
                        border-bottom:none;
                    }
                    a{
                        font-size: 12px;
                        line-height: 28px;

                        background: none;
                    }
                    

                }
            }
        }
    }

}
.top{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: fixed;
    bottom: 10%;
    right: 4%;
    overflow: hidden;
    display: none;
    a{
        width: 100%;
        height: 100%;
        background: $color url('../img/top_arrow.png')no-repeat center 30%;
        text-align: center;
        line-height: 85px;
        color: #fff;
    }
   
}
@media all and (max-width:1100px){
    header{
        .headerInner{
            position: relative;
            nav{
                width: 40vw;
                height: 100vh;
                position: absolute;
                right: 0;
                top: 0;
                background: #fff;
                transform: translateX(100%);
                transition: .35s;
                .depth1{
                    padding-top: 70px;
                    width: 100%;
                    display: block;
                    >li{
                        width: 100%;
                        border-bottom: $gnbBorder;
                        &:nth-of-type(1){
                            border-top:  $gnbBorder;
                        }
                        &:last-of-type{
                            display: block;
                            a{
                                &::after{
                                    display: none;
                                }
                            }
                        }
                        &:hover{
                            >a{
                                background: $color;
                                color: #fff;
                                font-weight: bold;
                                &:after{
                                    color: #fff;
                                }
                            }
                        }
                        &.active{
                            >a{
                                background: $color;
                                color: #fff;
                                font-weight: bold;
                                &:after{
                                    color: #fff;
                                }
                            }
                        }
                        >a{
                            width: 100%;
                            padding: 20px 0;
                            position: relative;
                            &:after{
                                @include after(28px,none);
                                content: '+';
                                height: 28px;
                                position: absolute;
                                right: 5%;
                                top: calc(50% - 10px);

                            }
                        }
                        .depth2{
                            width: 100%;
                            position: relative;
                            top: 0;
                            padding-top: 0;
                            height: auto;
                            border-top: $gnbBorder;
                            background: #eee;
                            li{
                                width: 100%;
                                border-bottom: $gnbBorder;
                                a{
                                    width: 100%;
                                    padding: 16px 0;
                                }
                            }
                        }
                    }
                }
            }
            .hire{
                display: none;
            }
            .menuBtn{
                display: flex;
                position: relative;
                span{
                    transition: .35s;
                }
                &.active{
                    span{
                        &:nth-of-type(1){
                            transform: translateY(9px) rotate(45deg);
                        }
                        &:nth-of-type(2){
                            opacity: 0;
                        }
                        &:nth-of-type(3){
                            transform: translateY(-9px) rotate(-45deg);
                        }
                    }
                }
            }
            .gnbBox{
                display: none;
            }
        }
    }
    footer{
        .inner{
            display: block;
            justify-content: inherit;
            align-items: inherit;
            text-align: center;
            .footerInfo{
                margin: 20px 0;
            }
            .footerInfo{
                .lnb{
                    display: none;
                }
            }
            .familySite{
                display: none;
            }
        }
    }
}
