@import "common";
@import "mixin";

.wrap{
    width: 100%;
    overflow: hidden;
}
main{
    width: 100%;
}
.visual{
    width: 100%;
    height: 100vh;
    position: relative;
    .visualSlide{
        position: relative;
        height: 100%;
        ul{
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            li{
                width: 100%; 
                height: 100%;
                overflow: hidden;
                position: absolute;
                left: 0;
                top: 0;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    .visualTxt{
        width: 70%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 42%;
        z-index: 50;
        display: none;
        p{
            text-align: center;
            font-weight: 100;
            font-size: 60px;
            line-height: 80px;
            color: #fff;
            span{
                font-size: 60px;
                color: #fff;
                font-weight: bold;
                position: relative;
                &:after{
                    @include after(100%,#fff);
                    bottom: 10px;
                    left: 0;
                }                    
            }
        }
    }
    .visualBtn{
        position: absolute;
        left: 60px;
        left: 3.125%;
        bottom: calc(50% - 161px);
        .arrowBtn{
            width: 11px;
            height: 113px;
            @include background("visual_arrow.png");
        }
        .next{
            @include background("visual_arrow02.png");
        }
        .visualPosition{
            display: flex;
            align-items: center;
            height: 22px;
            margin: 36px 0;
            span{
                font-weight: 100;
                color: #fff;
                align-self: flex-end;
                &:first-child{
                    font-size: 22px;
                    margin-right: 6px;
                }
            }
            .pause{
                width: 9px;
                height: 19px;
                margin-left: 12px;
                @include background("visual_pause.png");
                transition: .2s;
            }
            .pause.active{
                @include background("visual_play.png");
            }
        }
    }
}
section.contents{
    width: 100%;
    padding: 90px 0;
    box-sizing: border-box;
    .inner{
        width: 67.7083%;
        margin: 0 auto;
        .subCopy{
            margin-bottom: 80px;
            text-align: center;
            @include up();
            h2{
                font-size: 1.875em;
                font-weight: bold;
            }
            p{
                margin-top: 20px;
                font-size: 1.500em;
                color : #a5a5a5;
            }
        }
    }
}
.businessList{
    width: 100%;
    li{
        width: 100%;
        opacity: 0;
        transition: 1.2s ease-in-out;
        &.leftIn{
            transform: translateX(-100%);  
        }
        &.rightIn{
            transform: translateX(100%);  
        }
        figure{
            width: 100%;
            display: flex;
            align-items: center;
            >p{
                width: 50%;
                img{
                    width: 100%;
                }
            }
            figcaption{
                width: 50%;
                margin-left: 6.5384%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                box-sizing: border-box;
                h3{
                    font-size: 1.175em;
                    font-weight: bold;
                }
                p{
                    margin: 36px 0 32px;
                    line-height: 1.500em;
                    white-space: pre-line;
                }
                span{
                    font-weight: bold;
                    color: #a19e9e;
                    position: relative;
                    &:after{
                        @include after(0%,#a19e9e);
                        bottom: -8px;
                        left: 0;
                    }
                }
                .more{
                    margin-top: 58px;
                }
            }
        }
        &:nth-of-type(2){
            margin: 110px 0;
            figure{
                flex-direction: row-reverse;
            }
        }
        &:hover figure{
            figcaption{
                h3{
                    transition: .35s;
                    color: $color;
                }
                span{
                    &:after{
                        transition: .35s;

                        width: 100%;
                    }
                }
            }
        }
    }
}
.value{
    height: 360px;
    @include background("value_back.jpg");
    background-attachment: fixed;
    .inner .subCopy h2{ 
        color: #fff;      
    }
}
.valueList{
    display: flex;
    justify-content: space-between;
    .values {
        flex: 0 0 auto;
        display: inline-block;
        @for $i from 1 to 4{
            &:nth-of-type(#{$i}) figure .valueIcon{
                background: rgba(255,255,255,0.6) url('../img/value_0#{$i}.png') no-repeat center center;
            }
        }
        @include up();
        &:nth-of-type(2){
            transition-delay: .4s;
        }
        &:nth-of-type(3){
            transition-delay: .8s;
        }
        figure{
            display: flex;
            align-items: center;
            .valueIcon{
                width: 110px;
                height: 110px;
                border-radius: 50%;
            }
            figcaption{
                margin-left: 35px;
                line-height: 1.5em;
                font-weight: 600;
                color: #fff;
            }
        }
    }
}
.processList{
    width: 100%;
    height: 375px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
    li{
        flex: 0 0 auto;
        width: 10.4166vw;
        height:10.4166vw;
        border-radius: 50%;
        border: 10px solid #f5f5f5;
        overflow: hidden;
        transition: .35s;
        @include up();
        &:nth-of-type(2n){
            align-self: flex-end;
        }
        &:hover{
            figure figcaption{
                transform: translateY(0);
                opacity: 1;
            }
        } 
        figure{
            width: 100%;
            height: 100%;
            figcaption{
                width: 100%;
                height: 100%;
                font-size: 24px;
                font-weight: bold;
                text-align: center;
                line-height: 10vw;
                color: #fff;
                background-color: rgba($color: #000000, $alpha: 0.6);
                opacity: 0;
                transform: translateY(100%);
                transition: .35s;
            }
        }
        @for $i from 1 to 6{
            &:nth-of-type(#{$i}) figure{
                @include background("process_0#{$i}.jpg");
            }
        }
    }
}
.processCopy{
    p{
        text-align: center;
        line-height: 1.5em;
        span{
            font-weight: bold;
            color: $color;
        }
    }
}
.faq{
    width: 100%;
    height: 60px;
    background: #eee;
    .inner{
        width: 67.7083%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        position: relative;
        overflow: hidden;
        h3{
            line-height: 60px;
            font-size: 1.500em;
            font-weight: bold;
        }
        .questionList{
            height: 100%;
            position: absolute;
            left: 80px;
            top: 0;
            &:hover li{
                text-decoration: underline;
                cursor: pointer;
            }
            li{
                line-height: 60px;
            }
        }
    }
}
section.map{
    width: 100%;
    height:310px;
    padding: 0;
    .inner{
        width: 100%;
        height: 100%;
        overflow: hidden;
        .subCopy{
            width: 33%;
            height: 100%;
            padding: 50px 3.3854% 50px 0;
            float: left;
            text-align: right;
            background-color: $color;
            box-sizing: border-box;
            h2{
                color: #fff;
            }
            p{
                margin-bottom: 90px;
            }
            span{
                font-size: 14px;
                font-weight: 100;
                line-height: 1.5em;
                letter-spacing: -1px;
                color: #fff;
            }
        }
        iframe{
            width: 67%;
            height: 100%;
        }
    }
    
}
.indicator{
    width: 40px;
    height: 168px;
    padding: 6px 0;
    box-sizing: border-box;
    border-radius: 20px;
    position: fixed;
    right: 5%;
    bottom: calc(50% - 84px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #00b17e;
    span{
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #fff;
        transition: .35s;
        cursor: pointer;
        &.active{
            @for $i from 1 to 6{
                &:nth-of-type(#{$i}){
                    width: 21px;
                    height: 21px;
                    border-radius: 0%;
                    @include background("indi_0#{$i}.png");
                }
            }
        }
        @for $i from 1 to 6{
            &:nth-of-type(#{$i}){
                &:hover{
                    width: 21px;
                    height: 21px;
                    border-radius: 0%;
                    @include background("indi_0#{$i}.png");
                }
            }
        }
    }
}
@media all and (max-width:1280px){
    .value{
        height: auto;
        .valueList{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .values{
                display: block;
                &:nth-of-type(2){
                    margin: 20px 0;
                }
                figure{
                    flex-direction: column;
                    figcaption{
                        margin-left: 0;
                        margin-top: 20px;
                        text-align: center;
                    }
                }
            }
        }
    }
}
@media all and (max-width:1100px){
    .visual{
        .visualTxt{
            p{
                text-align: left;
            }
        }
    }
    .processList{
        height: auto;
        flex-direction: column;
        li{
            width: 100%;
            height: 130px;
            border-radius: 0;
            border: 1px solid #f5f5f5;
            &:nth-of-type(2n){
                align-self: inherit;
            }
        }
    }
    .map{
        .inner .subCopy span{
            display: none;
        }
    }
}
@media all and (max-width:790px){
    .visual{
        .visualTxt{
            width: 60%;
            p{
                font-size: 50px;
                line-height: 60px;
                span{
                    font-size: 50px;
                    &:after{
                        bottom: 3px;
                    }
                }
            }
        }
    }
    .businessList{
        li{
            width: 100%;
            &:nth-of-type(2){
                margin: 80px 0;
                figure{
                    flex-direction: column;
                }
            } 
            figure{
                flex-direction: column;
                >p{
                    width: 100%;
                    margin-bottom: 20px;
                }
                figcaption{
                    width: 100%;
                    margin-left: 0;
                    align-items: center;
                    p{
                        text-align: center;
                    }
                    span{
                        text-align: center;
                    }
                }
            }
        }
    }
    .indicator{
        display: none;
    }
}