.subHeader {
  width: 100%;
  height: 400px;
  background: url("../img/company_sub.jpg") no-repeat center center;
  position: relative; }
  .subHeader .headerTxt {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 42%; }
    .subHeader .headerTxt h2 {
      font-size: 40px;
      font-weight: bold;
      color: #fff; }
  .subHeader .tabBox {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    overflow: hidden; }
    .subHeader .tabBox button {
      float: left;
      width: 180px;
      height: 50px;
      background: rgba(0, 177, 126, 0.5); }
      .subHeader .tabBox button:hover {
        background: #fff; }
        .subHeader .tabBox button:hover span {
          font-weight: 300;
          color: #333; }
      .subHeader .tabBox button.active {
        background: #fff; }
        .subHeader .tabBox button.active span {
          font-weight: 300;
          color: #333; }
      .subHeader .tabBox button span {
        width: 100%;
        height: 100%;
        line-height: 50px;
        color: #fff;
        font-weight: 100;
        cursor: pointer; }

.subContents {
  width: 100%;
  padding: 100px 0; }
  .subContents .inner {
    width: 67.7083%;
    margin: 0 auto;
    position: relative; }
    .subContents .inner article {
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      display: none; }
      .subContents .inner article .subTit {
        margin: 0 auto 10.7692%; }
        .subContents .inner article .subTit h3 {
          font-size: 1.750em;
          text-align: center;
          margin-bottom: 85px;
          font-weight: bold;
          position: relative; }
          .subContents .inner article .subTit h3:after {
            display: block;
            content: '';
            width: 77px;
            height: 1px;
            position: absolute;
            background: #00b17e;
            bottom: -35px;
            left: calc(50% - 38px); }
        .subContents .inner article .subTit p {
          text-align: center;
          color: #919191;
          white-space: pre-line;
          line-height: 1.4em; }
      .subContents .inner article .subject {
        width: 100%;
        text-align: center; }
        .subContents .inner article .subject p {
          line-height: 1.5em;
          text-align: center;
          white-space: pre-line; }

.subCompany .subject {
  position: relative; }
  .subCompany .subject p {
    width: 100%;
    height: 360px;
    margin: 0 auto 8.4615%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; }
    .subCompany .subject p img {
      width: 100%;
      height: 100%; }
  .subCompany .subject table {
    width: 100%;
    padding: 0 60px;
    margin: 0 auto;
    box-sizing: border-box; }
    .subCompany .subject table tr {
      width: 100%;
      height: 70px;
      line-height: 70px;
      border-bottom: 1px solid #a5a5a5; }
      .subCompany .subject table tr th {
        font-weight: bold;
        width: 25%; }
      .subCompany .subject table tr td {
        width: 25%;
        padding-left: 30px;
        text-align: left; }

.subCeo .subject p {
  margin-bottom: 20px; }
  .subCeo .subject p:last-of-type {
    margin-bottom: 0; }

/*# sourceMappingURL=sub.common.css.map */
