@import "sub.common";

.subHeader{
    @include background("notice_sub.jpg");
}
.contents .subject{
    ul{
        width: 100%;
        border-top: 2px solid #333;
        li{
            height: 100%;
            padding: 20px 30px;
            border-bottom: 1px solid #a5a5a5;
            box-sizing: border-box;
        }
    }
}
.inner .subNotice .subject ul li {
    transition: .35s;
    &:first-of-type{
        position: relative;
        &:after{
            @include after(16px,#f00);
            content: 'N';
            line-height: 16px;
            color: #fff;
            font-size: 10px;
            height: 16px;
            left: 220px;
            top: 21px;
            opacity: 0;
            animation: new 2.5s ease-in-out infinite;
            @keyframes new {
                0%{opacity: 0;}
                40%{opacity: 1;}
            }
        }
    }
    a{
        width: 100%;
        div{
            width: 100%;
            text-align: left;
            h4{
                font-size: 1.125rem;
                font-weight: bold;
                margin-bottom: 10px;
            }
            .label{
                width: 50px;
                height: 20px;
                margin-right: 20px;
                border: 1px solid #eee;
                text-align: center;
                font-size: 0.875rem;
                line-height: 20px;
                box-sizing: border-box;
            }
            p{
                margin-top: 10px;
                text-align: left;
            }
        }
    }
    &:hover {
        background: #eee;
        a div{
            h4{
                color: $color;
            }
            .label{
                border: none;
                background: $color;
                color: #fff;
            }
        }
        
    }
}
.subFaq .subject ul li{
    .faqTitle{
        
    }
    .faqContent{
    }
}