@import "sub.common";

.subHeader{
    @include background("company_sub.jpg");
}
.subCompany{
    .subject{
        position: relative;
        div{
            width: 80%;
            margin: 0 auto 80px;
            font-size: 2.750rem;
            font-weight: bold;
            color: $color;
            @include rightIn();
        }
        p{
            width: 100%;
            margin: 0 auto 8.4615%;
            @include up();

            img{
                width: 100%;
            }
        }
        table{
            width: 100%;
            padding: 0 60px;
            margin: 0 auto;
            box-sizing: border-box;
            @include up();
            tr{
                width: 100%;
                height: 70px;
                line-height: 70px;
                border-bottom: 1px solid #a5a5a5;
                th{
                    font-weight: bold;
                    width: 25%;
                }
                td{
                    width: 25%;
                    padding-left: 30px;
                    text-align: left;
                }
            }
        }
    }
}
.subCeo{
    .subject{
        div{
            margin-bottom: 100px;
            font-size: 3.750rem;
            font-weight: bold;
            color: $color;
            white-space: pre-line;
            @include rightIn();
        }
        p{
            margin-bottom: 20px;
            @include up();
            &:last-of-type{
                margin-bottom: 0;
            }
        }
    }
}
.subHistory{
    .subject{
        .history2020{
            width: 100%;
            height: 260px;
            margin-bottom: 65px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @include background("company_history.jpg");
            @include up();rightIn
            &:after{
                position: inherit;
                @include after(24px,#fff);
                margin-top: 20px;
            }
            h4{
                margin-bottom: 40px;
                font-size: 60px;
                font-weight: bold;
                color: #fff;
            }
            span{
                font-size: 24px;
                color: #fff;
            }
        }
        .history{
            width: 100%;
            position: relative;
            &:before{
                @include after(1px,#717171);
                height: 100%;
                left: 50%;
                top: 0;
            }
            >li{
                width: 50%;
                margin-bottom: 40px;
                padding-left: 50%;
                text-align: left;
                position: relative;
                @include rightIn();
                @include leftIn();
                &:before{
                    @include after(10px,$color);
                    height: 10px;
                    border-radius: 50%;
                    left: calc(50% - 5px);
                    top: 35px;
                    z-index: 2;
                }
                &:after{
                    @include after(25px,#717171);
                    left: 50%;
                    top: 40px;
                }
                &:nth-of-type(2n){
                    padding-left: 0;
                    padding-right: 50%;
                    text-align: right;
                    &:after{
                        left: calc(50% - 25px);
                    }
                    h5{
                        padding: 30px 30px 30px 0;
                    }
                    ul{
                        padding-left: 0;
                        padding-right: 30px;
                    }
                }
                h5{
                    padding: 30px 0 30px 30px;
                    font-size: 1.125rem;
                    font-weight: bold;
                }
                ul{
                    padding-left: 30px;
                    li{
                        margin-bottom: 20px;
                        width: 100%;
                        img{
                            width: 100%;
                        }
                    }
                } 
            }
        }
    }
}
.subValue{
    .subject{
        ul{
            width: 100%;
            margin-bottom:50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            li{
                display: flex;
                flex-direction: column;
                align-items: center;
                @include up();
                @for $i from 1 to 4{
                    &:nth-of-type(#{$i}){
                        .valueIcon{
                            width: 166px;
                            height: 166px;
                            @include background("company_value_0#{$i}.png");
                        }
                    }
                }
                p{
                    margin:20px 0;
                    font-size: 1.125rem;
                }
                span{
                    color: $color;
                }
            }
            
        }
    }
}
@media all and (max-width:1100px){
    .subValue .subject ul{
        flex-direction: column;
        li{
            &:nth-of-type(2){
                margin: 50px 0;
            }
        }
    }
}