@import "mixin";
.subHeader{
    width: 100%;
    height: 400px;
    @include background("company_sub.jpg");
    position: relative;
    .headerTxt{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 42%;
        h2{
            font-size: 40px;
            font-weight: bold;
            color: #fff;
        }
    }
    .tabBox{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        overflow: hidden;
        button{
            float: left;
            width: 180px;
            height: 50px;
            background: rgba(0,177,126,0.5);
            &:hover{
                background: #fff;
                span{
                    font-weight: 300;
                    color: #333;
                }
            }
            &.active{
                background: #fff;
                span{
                    font-weight: 300;
                    color: #333;
                }  
            }
            span{
                width: 100%;
                height: 100%;
                line-height: 50px;
                color: #fff;
                font-weight: 100;
                cursor: pointer;
            }
        }
    }
}
.subContents{
    width: 100%;
    padding: 100px 0;
    .inner{
        width: 67.7083%;
        margin: 0 auto;
        position: relative;
        article{
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            display: none;
            .subTit{
                margin: 0 auto 10.7692%;
                h3{
                    font-size: 1.750em;
                    text-align: center;
                    margin-bottom: 85px;
                    font-weight: bold;
                    position: relative;
                    &:after{
                        @include after(77px,$color);
                        bottom: -35px;
                        left: calc(50% - 38px);
                    }
                }
                p{
                    text-align: center;
                    color: #919191;
                    white-space: pre-line;
                    line-height: 1.4em;
                }
            }
            .subject{
                width: 100%;
                text-align: center;
                p{
                    line-height: 1.5em;
                    text-align: center;
                    white-space: pre-line;
                }
            }
        }
    }
}
.subCompany{
    .subject{
        position: relative;
        p{
            width: 100%;
            height: 360px;
            margin: 0 auto 8.4615%;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
            }
        }
        table{
            width: 100%;
            padding: 0 60px;
            margin: 0 auto;
            box-sizing: border-box;
            tr{
                width: 100%;
                height: 70px;
                line-height: 70px;
                border-bottom: 1px solid #a5a5a5;
                th{
                    font-weight: bold;
                    width: 25%;
                }
                td{
                    width: 25%;
                    padding-left: 30px;
                    text-align: left;
                }
            }
        }
    }
}
.subCeo{
    .subject{
        p{
            margin-bottom: 20px;
            &:last-of-type{
                margin-bottom: 0;
            }
        }
    }
}
